<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Handle Get and Post</title>
		<link rel="stylesheet" href="/backend/static/css/styles.css" />
		<style>
			div {
				width: 400px;
				border: solid red;
				/* padding: 10px; */
				margin-bottom: 5px;
			}
		</style>
	</head>
	<body>
		<h1>Golf App</h1>

		<div id="course-list"></div>
		<script src="/static/js/main.js"></script>
	</body>
</html>
